.weather{
  margin: 70px 20px;
  width:400px;
}
.yw-forecast{
  clear:both;position:relative;width:650px;min-height:190px;height:14.6154em;*height:14.2632em;margin-bottom:15px;background:#CCE1FF url(http://l.yimg.com/a/i/us/nws/weather/crntcondbg_day.gif) repeat-x;border:1px solid #5182ce;border-left:none;border-right:none;
  h3, .weather-data{ padding: 0 0 0 20px;}
  .forecast-icon{position:absolute;top:0;left:320px;width:250px;height:130px;background-repeat:no-repeat;}
  .forecast-temp{
    position:absolute;top:45px;right:20px;min-width:200px;background:url(http://l.yimg.com/a/i/us/nws/weather/wdgt_day.png) no-repeat;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://l.yimg.com/a/i/us/nws/weather/wdgt_day.png',sizingMethod='crop');z-index:0;
    .yw-temp{float:right;color:#fff;
      text-shadow:#315895 0 -1px 1px;font-weight:bold;font-size:220%;padding:15px 25px 12px 0;
    }
    p{clear:right;text-align:right;margin-bottom:17px;padding-right:17px;color:#fff;font-size:85%;text-shadow:#315895 0 -1px 1px;}
  }
  &.night{
    border:1px solid #8e8e8e;border-left:none;border-right:none;background:#DFDDE2 url(http://l.yimg.com/a/i/us/nws/weather/crntcondbg_night.gif);
    .forecast-temp{background:url(http://l.yimg.com/a/i/us/nws/weather/wdgt_night.png) no-repeat;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://l.yimg.com/a/i/us/nws/weather/wdgt_night.png',sizingMethod='crop');}
  }
}

p,.form-label{
  font-size:14px;
  line-height: 18px;
  margin:4px;
}
label{
  margin-right:10px;
}
.loading{
  margin:100px 340px;
  color:$white;
  font-weight:bold;
  background:$red;
  position:absolute;
  width:180px;
  height:40px;
  display: -webkit-flex;
  display: flex;
  top:0;
  left:0;
  div{
    margin:auto;

  }
}
.toggle {
  padding-top: 0;
  cursor: pointer;
}

.toggle-menu {
  float: left;
  margin:0 !important;

  &.toggle-menu li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: left;
    .toggle-menu-bar {
      display: block;
      width: 25px;
      height: 4px;
      background-color: #B8B8B8;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin: 0 auto 3px;
    }
  }
}
.weather-menu{
  background:$black-light;
  padding:10px 0;
  margin:50px 0 0 0;
  height:42px;
  .weather-title{
    font-weight:bold;
    padding-left:20px;
    color:$white;
  }

}
