
$red: #FF0000;
$white: #FFFFFF;
$gray:#4D4D4D;
$gray-lighter: #4f4f4f;
$gray-light: #B8B8B8;
$black: #000000;
$black-light: #232323;

$default-text-color: $black !default;
/*
You can define a default that is used only if a value isn't
assigned any place else
 
*/
